
/*creates variables to easily change the color scheme of the portfolio */
:root{
    --header-color: rgb(0,128,128);
    --section-color: rgb(212,175,55);
    --img-border-color: rgb(0,0,0)
    
}

/* implements the background image and changes the font from the basic style */
body {
    
    background-image: url(new-york.jpg);
    background-size: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

/* these elements align all the parts of the header and get the nav bar inline*/
header {
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--header-color);
    opacity: .8;
    width: 100%;
}

header h1{
    text-align: center;
    font-size: xx-large;
}
header ul {
    text-align: center;
    font-size: x-large;
    font-weight: lighter;
}

header li {
    display: inline-block;
    padding: 5px;
}

/*helps indicate when a link is being hovered over */
header li:hover{
    font-weight: bold;
    color: lightblue;
}


h2{
    text-decoration: underline;
}

/*adjusts each body section within the document */
.info{
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    background-color: var(--section-color);
    border-radius: 25px;
    opacity: .8;
    width: 100%;
   
}

/* adjusts the photo in the about me part of  the document */
#aboutme img{
    border-color: var(--img-border-color);
    border-width: 10px;
    border-style: double;
    border-radius: 15px;
    width: 200px;
    opacity: 1;
}

/* adjusts the other photos in the project portion of the document */
.example img{
    border-color: var(--img-border-color);
    border-width: 10px;
    border-style: double;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    opacity: 1;
}

/* lets projects more cleanly appear on page*/
#projects li{
    display: flex
}

/* these two classes create an image and caption*/
.example{
    display: inline-block;
    text-align: center;
    width: 25%;
}

.launch{
    display: block;
    font-size: larger;
}

/*increases size of space taken up and text size when a project is hovered over*/

.example:hover{
    width: 100%;
    font-size: xx-large;
}

/* better arranged information in the footer*/
footer li {
    display: inline-block;
    margin: 20px;
    font-size: larger;
}